/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
*::-webkit-scrollbar {
  display: none;
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1024px;
  background-color: var(--background-color);
  background-image: url('../images/cover-image-light.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* HEADER */
.header {
  position: relative;

  padding: 20px;
  display: grid;
  grid-template-rows: 299px auto 299px;
  grid-template-columns: 1fr 1fr;

  min-height: 100vh;
  width: 100%;

  
}

.header__theme-menu {
  display: flex;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: 3;
}
.header__theme-menu-list {
  display: flex;
  gap: 10px;
}
.header__theme-menu-button {
  font-family: var(--font);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-regular);
  text-transform: lowercase;
  color: var(--black-color);

  padding: 0 13px;
  background-color: transparent;
  border: 1px solid transparent;

  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button:focus-within {
  border-bottom: 1px solid var(--black-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--black-color);
  pointer-events: none;
  cursor: default;
}

.rectangle-top {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
  top: 20px;
  right: 20px;
}

.rec {
  font-family: var(--font);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-regular);
  color: var(--brightPing-color);

  position: absolute;
  top: 21px;
  right: 49px;
  display: none;
}

.rec::after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px var(--brightPing-color);
  display: inline-block;
  border-radius: 100%;
  background-color: var(--brightPing-color);
  top: 7px;
  left: 43px;
}

.rectangle-bottom {
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--black-color);
  border-left: 1px solid var(--black-color);
  bottom: 20px;
  left: 20px;
}

.home-nofocus {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: -20px;
  line-height: 82.5%;


  font-family: var(--font);
  font-size: var(--fontSize-nofocus);
  font-weight: var(--fontWeight-bold);
  color: var(--focus-color);

  text-shadow: 4px 4px var(--accent-color);
}

.home-text {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  height: fit-content;

  background-color: var(--brightPing-color);

  font-family: var(--font);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-bold);
  color: var(--font-color);
}

/* MAIN */
.main {
  width: 100%;


  margin-top: 60px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.main__section-one {
  display: grid;
  grid-template-columns: minmax(auto, 315px) auto;
  column-gap: 10px;
}

.main__section-one-container_top {
  grid-column-start: 3;
  margin-bottom: 20px;
}

.main__section-one-container_bottom {
  grid-column-start: 3;
}

.section-title {
  font-family: var(--font);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-bold);
  color: var(--black-color);
}

.section-title-secondary {
  font-family: var(--font);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-bold);
  color: var(--font-color);
  background-color: var(--brightPing-color);

  height: fit-content;
  margin-bottom: 10px;
}

.section-text {
  font-family: var(--font);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-regular);
  color: var(--font-text-color);
  line-height: 23.4px;

}

.main__section-two {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.main__section-two-title {
  grid-column-start: 1;
  margin-bottom: 20px;
}

.main__section-two .section-container {
  grid-row-start: 2;
}

.main__section-three {
  display: grid;
  grid-template-columns: minmax(auto, 315px) auto;
  column-gap: 20px;
  row-gap: 20px;
}

.main__section-three .section-container {
  grid-column-start: 2;
}

.main__section-three article:first-of-type {
  grid-row-start: 1;
  margin-top: 45px;
}

.main__section-three .section-title-secondary {
  font-weight: var(--fontWeight-regular);
}

.main__section-three .main__section-three-subtitle {
  font-weight: var(--fontWeight-bold);
  margin-bottom:  20px;
  grid-column-start: 2;
  grid-row-start: 1;
}
.main__section-four {
  display: grid;
  grid-template-rows: auto 260px 315px 428px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.main__section-four .section-title-secondary {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;

  margin: 0;
}

.img-sunset {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-ice-cream {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tape {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.books {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.street {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-link {
  text-shadow: 2px 2px  var(--brightPing-color);
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.text-link:hover {
  border-bottom: 1px var(--font-text-color) solid;
}
.text-link:focus-within {
  border: 1px var(--font-text-color) solid;
  outline: none;
}

.footer {
  margin-top: 70px;
  position: relative;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .home-nofocus {
  margin: 0;
}

@media (max-width: 768px) {
  *::-webkit-scrollbar {
    display: none;
  }
  .header {
    grid-template-rows: 443px auto 443px;
  }

  .header__theme-menu {
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
   
  }

  .main {
    gap:80px
  }

  .main__section-one {
    
    grid-template-columns: minmax(auto, 236px) auto;
    
  }
  .main__section-one-container_top {
    margin-bottom: 20px;
  }
  .main__section-two {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: minmax(auto, 236px) auto;
    column-gap: 20px;
    row-gap: 21px;
  }
  
  .main__section-two-title {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 0px;
  }
  
  .main__section-two .section-container {
    grid-row-start: auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .main__section-three {
    display: grid;
    grid-template-columns: minmax(auto, 236px) auto;
    column-gap: 20px;
    row-gap: 20px;
  }

  .main__section-four {
    display: grid;
    grid-template-rows: auto 192px 230px 318px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }


  .footer {
    margin-top: 50px;
    
  }
}

@media only screen and (max-width: 375px) {
  *::-webkit-scrollbar {
    display: none;
  }


  .header {
    padding: 10px;
    grid-template-rows: 229px auto 229px;
  }

  .home-nofocus {
    font-size: var(--fontSize-nofocus-mobile);
    text-shadow: 4px 4px var(--nofocus-shadow-mobile);
    margin: 0;

  }
  .home-text {
    grid-column-start: 1;
  }

  .rectangle-top {
    top: 10px;
    right: 10px;
  }
  
  .rectangle-bottom {
    bottom: 10px;
    left: 10px;
  }

  .rec {
    top: 11px;
    right: 39px;
  }

  
  
  .main {
    padding: 0 10px;
    gap: 50px;
    margin-top: 40px;
  }
  .main section {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    margin-bottom: 0px;
  }
  .section-title-secondary {
    margin-top: 20px;
    margin-bottom: 11px;
  }
  .section-container {
    margin-bottom: 0px;
  }

  .main__section-two {
    row-gap: 0px;
  }

  .main__section-three {
    row-gap: 0;
  }

  .main__section-three article:first-of-type {
    margin-top: 0;
  }

  .main__section-three article:first-of-type h4 {
    margin-top: 0;
  }

  .main__section-four {
    display: grid;
    grid-template-rows: auto 192px 230px 318px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
  }
  .footer {
    margin-top: 38px;
  }
}